<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common">
	<resultMap id="codeMap" type="egovMap">
		<result property="codeId" column="CMM_CD_ID" />
		<result property="codeName" column="CMM_CD_NM" />
		<result property="codeDesc" column="CMM_CD_DES" />
		<result property="codeWeight" column="CD_RNK" />
		<result property="codeGroupId" column="CD_GRP_ID" />
		<result property="codeGorupName" column="CD_GRP_NM" />
		<result property="codeGroupDesc" column="CD_GRP_DES" />
		<result property="totCnt" column="TOT_CNT" />
	</resultMap>

	<select id="selectCodeIdWithCodeName" resultType="string">

        SELECT CMM_CD_ID

		FROM TBDCMIAM006D

		WHERE CMM_CD_NM=#{code_name}

    </select>

	<select id="selectCodeInfoWithCodeId" resultMap="codeMap">

        SELECT TBDCMIAM006D.CMM_CD_ID,

		  TBDCMIAM006D.CMM_CD_NM,

		  TBDCMIAM006D.CD_GRP_ID,

		  TBDCMIAM006D.CMM_CD_DES

		FROM TBDCMIAM006D

		WHERE (TBDCMIAM006D.CMM_CD_ID = #{codeId})

    </select>

	<select id="selectPreResoList" resultMap="codeMap">
	/* kr.go.bai.eip.cor.cor.dao.CommonDAOMapper.selectPreResoList */

		SELECT B.*

		FROM (

			SELECT ROWNUM ROWNO, A.*, COUNT(*) OVER() AS TOT_CNT

			  FROM (

					SELECT TBDCMIAM006D.CMM_CD_NM,

					TBDCMIAM006D.CMM_CD_ID,

					TBDCMIAM006D.CMM_CD_DES

					FROM TBDCMIAM006D, TBDCMIAM005M

					<trim prefix="WHERE" prefixOverrides="AND |OR ">

						TBDCMIAM006D.CD_GRP_ID = TBDCMIAM005M.CD_GRP_ID AND (TBDCMIAM005M.CD_GRP_NM = 'PRE_BUTTON')

						<if test="codeId !='' and codeId != null ">

							AND TBDCMIAM006D.CMM_CD_ID like '%${codeId}%'

						</if>

						<if test="codeName !='' and codeName != null ">

							AND TBDCMIAM006D.CMM_CD_NM like '%${codeName}%'

						</if>

						<if test="codeDesc !='' and codeDesc != null ">

							AND TBDCMIAM006D.CMM_CD_DES like '%${codeDesc}%'

						</if>

					</trim>

					) A
		)B
		WHERE ROWNO BETWEEN (((${currPage}- 1) * ${pageSize}) + 1) AND (${currPage} * ${pageSize})
	</select>
</mapper>

