<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="eam">
	<resultMap id="permMap" type="egovMap">
		<result property="sidValue" column="REF_ID" />
		<result property="resourceId" column="RSRC_ID" />
		<result property="targetSystemId" column="TG_SYS_ID" />
		<result property="sidType" column="REF_TP" />
		<result property="operations" column="OPERATIONS" />
		<result property="resourceName" column="RESOURCE_NAME" />
		<result property="resourceId2" column="RESOURCE_ID2" />
		<result property="resourceDesc" column="RESOURCE_DESC" />
		<result property="resourcePattern" column="RESOURCE_PATTERN" />
		<result property="menuOrderNumber" column="MENU_ORDER_NUMBER" />
		<result property="codeId" column="CODE_ID" />
		<result property="menuOrder" column="MENU_ORDER" />
	</resultMap>

	<!--TODO 원상복귀시 주석 해제-->
<!--	
    <select id="selectRoleListWithUserId" resultType="string">
	
		select distinct role_name
		from UBCREOWN.view_role_info
		where user_id = #{userId}
    </select>
-->    
    <!-- TODO 최후반영 시 주석해제 -->
    
	<select id="selectRoleListWithUserId" resultType="string">
		SELECT DISTINCT ROLE_NM
		  FROM VIEW_ROLE_INFO_BEST
		 WHERE USR_ID = #{userId}
    </select>
    
    
	<select id="selectGroupListWithUserId" resultType="string">
    	SELECT TBDCMIAM007M.GRP_NM AS SIDNAME 

		  FROM TBDCMIAM008D,

		       TBDCMIAM007M

		 WHERE (TBDCMIAM008D.GRP_ID = TBDCMIAM007M.GRP_ID)

		   AND (TBDCMIAM008D.USR_ID = #{userId})

		 order by GRP_PRR_RNK ASC

    </select>

	<select id="selectSIdCodeValue" resultType="string">

		SELECT ROLE_ID FROM TBDCMIAM003M WHERE ROLE_NM=#{temp}

	</select>

    <select id="selectPermissionWithRoleId" resultMap="permMap">

			SELECT *

			  FROM

			    (SELECT RO.REF_ID,

			      RO.RSRC_ID,

			      RO.TG_SYS_ID,

			      RO.REF_TP,

			      DECODE(RO.OPER, null, '$', RO.OPER) AS OPERATIONS,

			      (SELECT TBDCMIAM001M.RSRC_NM FROM TBDCMIAM001M WHERE RO.RSRC_ID = TBDCMIAM001M.RSRC_ID) AS RESOURCE_NAME,

			      (SELECT TBDCMIAM001M.UPPR_RSRC_ID FROM TBDCMIAM001M WHERE RO.RSRC_ID = TBDCMIAM001M.RSRC_ID) AS RESOURCE_ID2,

			      (SELECT TBDCMIAM001M.RSRC_DES FROM TBDCMIAM001M WHERE RO.RSRC_ID = TBDCMIAM001M.RSRC_ID) AS RESOURCE_DESC,

			      (SELECT TBDCMIAM001M.RSRC_PTN FROM TBDCMIAM001M WHERE RO.RSRC_ID = TBDCMIAM001M.RSRC_ID) AS RESOURCE_PATTERN,

			      (SELECT TO_CHAR(TBDCMIAM001M.MNU_SEQ) FROM TBDCMIAM001M WHERE RO.RSRC_ID = TBDCMIAM001M.RSRC_ID) AS MENU_ORDER_NUMBER,

			      (SELECT TBDCMIAM006D.CMM_CD_NM FROM TBDCMIAM006D WHERE TBDCMIAM006D.CMM_CD_ID = (SELECT TBDCMIAM001M.RSRC_TP FROM TBDCMIAM001M WHERE RO.RSRC_ID = TBDCMIAM001M.RSRC_ID)) AS CODE_ID,

			      (SELECT TBDCMIAM001M.MNU_SEQ FROM TBDCMIAM001M WHERE RO.RSRC_ID = TBDCMIAM001M.RSRC_ID) AS MENU_ORDER

			    FROM TBDCMIAM002D RO

			    WHERE REF_ID IN

			    (     

			    	<foreach collection="sIdValue" item="sIdValue" index="index" separator="," open="" close="">

							#{sIdValue}

					</foreach>

			    )

			    )

				WHERE 1=1

				<if test='resourceVal != null and resourceVal != ""'>
					AND RESOURCE_DESC LIKE '%'||#{resourceVal}||'%'
				</if>

			    ORDER BY MENU_ORDER ASC, RESOURCE_NAME ASC

	</select>

</mapper>